.header {
  background-color: #1c1c1c;
  padding: 15px;
  box-shadow: 0px 2px 10px rgba(0, 255, 255, 0.2);
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  width: 300px;
  padding: 10px;
  background-color: #2a2a2a;
  border: 2px solid #00ffcc;
  color: #e6e6e6;
  border-radius: 5px;
  outline: none;
}

.button {
  background-color: #00ffcc;
  border: none;
  color: #1a1a1a;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #00ffaa;
}
