#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  background-color: #0d0d0d;
  color: #e6e6e6;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app {
  text-align: center;
  padding: 20px;
  min-height: 80vh;
  background: linear-gradient(135deg, #0d0d0d 0%, #1a1a1a 100%);
}

.container {
  background-color: rgba(20, 20, 20, 0.8);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.3);
}
.ReactModal__Overlay {
  background-color: rgb(48 51 73 / 75%) !important;
}
