#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  background-color: #0d0d0d; /* Дуже темний фон */
  color: #e6e6e6; /* Світлий текст */
  font-family: "Roboto Mono", monospace; /* Шрифт в стилі кіберпанк */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app {
  text-align: center;
  padding: 20px;
  min-height: 80vh;
  background: linear-gradient(135deg, #0d0d0d 0%, #1a1a1a 100%);
}

.container {
  background-color: rgba(20, 20, 20, 0.8); /* Напівпрозорий блок */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.3); /* Неоновий ефект */
}
.ReactModal__Overlay {
  background-color: rgb(48 51 73 / 75%) !important;
}
