.imageWrapper {
  width: 30vw;
  height: 300px; /* Фіксована висота для картки */
  overflow: hidden; /* Обрізаємо контент, що виходить за межі */
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.4); /* Неонова тінь */
  transition: transform 0.3s ease;

  @media (min-width: 768px) {
    width: 20vw; /* Змена розміру з 30% на 20% при відтиску до 768px */
    height: 400px; /* Зміна висоти з 300px на 400px при відтиску до 768px */
  }
}

.imageWrapper:hover {
  transform: scale(1.05); /* Ефект збільшення при наведенні */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Зображення заповнює контейнер з обрізкою */
}
